<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>取色器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C5CFBE31EE794C90091E74B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C5CFBFC1EE794CA0091E74B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C5CFC071EE794CA0091E74B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
